{% extends "base.html" %}

{% block start %}



<div class="container mt-5">
    <div class="dropdown mx-3 mb-5">
        <a class="btn btn-secondary dropdown-toggle" href="#" style="background:#990099;"role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Select Category
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background:  #ec71eca8;">
          <li><a class="dropdown-item" style="background:  #ec71eca8;" href="#">Category 1</a></li>
          <li><a class="dropdown-item" style="background:  #ec71eca8;"href="#">Category 2</a></li>
          <li><a class="dropdown-item" style="background:  #ec71eca8;"href="#">Category 3</a></li>
        </ul>
      </div>
    <div class="card w-75 mb-3 card-style">
        <div class="card-body">
          <h4 class="card-title mt-3 mb-3"><u><i class="fa fa-circle p-2 " aria-hidden="true" style="font-size: 10px;"></i>Company Name | Category | Vacancy Name</u></h4>
          <p class="card-text px-5 ">This is Paragraph shows the give description of the company
            whe yor are registered.This Paragraph shows the given 
            description of the company when you are registerd.This 
            Paragraph show the given description of the company when you
            are registered.</p>
        </div>
    </div>
    <div class="card w-75 mb-3 card-style">
        <div class="card-body">
          <h4 class="card-title mt-3 mb-3"><u><i class="fa fa-circle p-2 " aria-hidden="true" style="font-size: 10px;"></i>Company Name | Category | Vacancy Name</u></h4>
          <p class="card-text px-5">This is Paragraph shows the give description of the company
            whe yor are registered.This Paragraph shows the given 
            description of the company when you are registerd.This 
            Paragraph show the given description of the company when you
            are registered.</p>
        </div>
    </div>
    <div class="card w-75 mb-3 card-style">
        <div class="card-body">
          <h4 class="card-title mt-3 mb-3"><u><i class="fa fa-circle p-2 " aria-hidden="true" style="font-size: 10px;"></i>Company Name | Category | Vacancy Name</u></h4>
          <p class="card-text px-5">This is Paragraph shows the give description of the company
            whe yor are registered.This Paragraph shows the given 
            description of the company when you are registerd.This 
            Paragraph show the given description of the company when you
            are registered.</p>
          </div>
    </div> 
    <div class="card w-75 mb-3 card-style">
      <div class="card-body">
        <h4 class="card-title mt-3 mb-3"><u><i class="fa fa-circle p-2 " aria-hidden="true" style="font-size: 10px;"></i>Company Name | Category | Vacancy Name</u></h4>
        <p class="card-text px-5">This is Paragraph shows the give description of the company
          whe yor are registered.This Paragraph shows the given 
          description of the company when you are registerd.This 
          Paragraph show the given description of the company when you
          are registered.</p>
      </div>
  </div> 
  <div style="text-align: right;">
    <a href="#" class="link">
        <button class="px-2">1</button>
        <button class="px-2">2</button>
        <button class="px-2">3</button>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <i class="fa fa-chevron-right" style="padding-right: 30px;" aria-hidden="true"></i>
    </a>
</div>

</div>
<div class="divider">
    <hr>
</div

{% endblock %}
